<ul class="nav flex-column">
  <li><%= link_to "ベンダー管理", companies_path(:id => current_user, :client => false) %></li>
  <li><%= link_to "病院管理", companies_path(:id => current_user, :client => true) %></li>
  <li><%= link_to "列管理", yokyu_parents_path(:id => current_user) %></li>
  <li><%= link_to "伝票管理", file_managers_path(:id => current_user) %></li>
</ul>