<div class="row">
  <aside class="col-md-3">
    <div class="row">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    </div>
    <div class="row">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">ベンダー管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">病院管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">列管理</a>
        </li>
      </ul>
    </div>
  </aside>
  <div class="container col-md-9">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="torikumi-tab" data-toggle="tab" href="#torikomi" role="tab" aria-controls="torikumi" aria-selected="true">仕様書取込</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="sakusei-tab" data-toggle="tab" href="#sakusei" role="tab" aria-controls="sakusei" aria-selected="false">仕様書作成</a>
      </li>
    </ul>
    
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="torikomi" role="tabpanel" aria-labelledby="torikomi-tab">
          <%= render 'saving' %>
      </div>
      <div class="tab-pane fade" id="sakusei" role="tabpanel" aria-labelledby="sakusei-tab">
          <%= render 'loading' %>
      </div>
    </div>      
  </div>
</div>

