<footer class="footer">
   <small>
      The <a href="<%= root_path %>">PK-Tools on Web</a> 
      by <a href="http://www.sbs-infosys.co.jp/">SBS情報システム</a>
   </small>
   <nav>
      <ul>
         <li><%= link_to "PK-Tools on Webについて", about_path %></li>
         <li><%= link_to "連絡先", contact_path %></li>
      </ul>
   </nav>
</footer>